<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>黄埔珠江</title>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./public/style/common.css">
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
	<script src="public/js/vue.js"></script>
	<script src="public/js/vue-router.js"></script>

	<style>
		.sidebar ul{
			text-align: center;
		}
		.sidebar li{
			display: inline-block;
			width:100px;
			margin:1px;
			height: 110px;
		}
		.sidebar li{
			background:blue;
			color:#fff;
		}
		.sidebar span{
			display: block;
			font-size:1.5em;
			margin-bottom:.3em;
		}
		.sidebar a{
			display: block;
			padding:2em 0;
			height:100%;
			background: #aaa;
			transition:all .5s ease;
		}

		a.v-link-active,
		.sidebar a:hover{
			color:#fff;
			background: #184086;
		}
		.atical-p{
			line-height: 32px;
			font-size: 16px;
			text-indent:2em;
			margin-bottom:1em;
		}
		.margin-top-2em{
			margin-top:2em;
		}
    	.product-banner{
    		background-image:url(http://www.yuelan-gd.com/img/20161209/20161209_221047_917.jpg);
    	}
	</style>

</head>
<body>

    <header class="header">
        <nav class="container nav-line">
            <div class="logo pull-left">

	        </div>
	        <ul class="nav-link pull-right clearfix">
	            <li><a  href="./index.html">首页</a></li>
	            <li><a  href="./about.html">关于我们</a></li>
	            <li><a class="current" href="./product.html">产品展示</a></li>
	            <li><a href="./contact.html">联系我们</a></li>
	            <li><a href="./job.html">精英招聘</a></li>
	        </ul>
            <div class="menu pull-right">
                <div class="demo-btn">
                    <div class="btn-top"></div>
                    <div class="btn-middle"></div>
                    <div class="btn-bottom"></div>
                </div>
            </div>
        </nav>
    </header>

    <div class="banner">
        <div class="banner-inner-2 product-banner">
        </div>
    </div>



	<div id="app">
		<nav class="sidebar hidden-xs margin-top-2em">
			<ul class="text-center">
				<li><a v-link="{path:'/dianxian'}"> <span class="glyphicon glyphicon-home"></span>电线</a></li>
				<li><a v-link="{path:'/gaoya'}"><span class="glyphicon glyphicon-book"></span>中高压电缆</a></li>
				<li><a v-link="{path:'/diya'}"><span class="glyphicon glyphicon-tower"></span>低压电缆</a></li>
				<li><a v-link="{path:'/kongzhi'}"><span class="glyphicon glyphicon-briefcase"></span>控制及信号电缆</a></li>
				<li><a v-link="{path:'/jueyuan'}"><span class="glyphicon glyphicon-briefcase"></span>矿物绝缘电缆</a></li>
				<li><a v-link="{path:'/luhejing'}"><span class="glyphicon glyphicon-briefcase"></span>铝合金电缆</a></li>
			</ul>
		</nav>
		<nav style="padding:2em 2em 0;">
	        <select id="nav-select" class="visible-xs-block hidden form-control">
	            <option value="/dianxian">电线</option>
	            <option value="/gaoya">中高压电缆</option>
	            <option value="/diya">低压电缆</option>
	            <option value="/kongzhi">控制及信号电缆</option>
	            <option value="/jueyuan">矿物绝缘电缆</option>
	            <option value="/luhejing">铝合金电缆</option>
	        </select>
	    </nav>
		<router-view></router-view>


	</div>

	<template id="productContainer">
		<div class="container h3 margin-top-2em">
			<strong class="text-danger ">{{productTitle}}</strong>
			<p style="line-height: 32px;font-size: 16px;color: #595757;margin-bottom:2em">{{productProfile}}</p>

			<div class="col-sm-4" style="height:441px" v-for="(index , product ) in products" v-if="product.type === $route.name || $route.path === '/home'">
				<a v-link="{path:product.type + '/' + index }">
					<img width="100%" :src="product.imgurl" alt="" >
				</a>
				<p style="height: 84px;line-height: 28px;padding: 12px 20px 5px;
font-size: 16px;color: #595757;" class="text-center">
					{{product.detail}}
				</p>
			</div>
		</div>
	</template>

	<template id="detail">
		<div class="container margin-top-2em" >
			<div class="col-sm-5 col-xs-12">
				<img :src="product.imgurl" width="100%"  alt="">
			</div>
			<div class="col-sm-7 col-xs-12">
				<h3 >{{product.name}}</h3>
				<p>型号名称：{{product.detail}}</p>
				<p>产品标准：{{product.regular}}</p>
				<p v-if="product.descp">产品用途：{{product.descp}}</p>
				<p v-if="product.chart">产品特性：{{product.chart}}</p>
				<p v-if="product.line">导体材质：{{product.line}}</p>
				<p v-if="product.pei">绝缘材质：{{product.pei}}</p>
				<p v-if="product.weight">重量：{{product.weight}}</p>
				<p v-if="product.press">额定电压：{{product.press}}</p>
				<p v-if="product.radius">标称截面：{{product.radius}}</p>
			</div>
		</div>
	</template>

	<footer class="container-fluid footer">
		<div class="container">
			<div class="col-sm-6 footer-articel">
				<h3>地址</h3>
				<h4>广州黄埔珠江电线厂</h4>
				<h4>广州市黄埔区双沙村沙浦东路西11巷2号</h4>
				<p>粤缆工业园 510000</p>
				<p>T_+86 20 8607 159x</p>
				<p>F_+86 20 3626 120x</p>
			</div>
			<div class="col-sm-6 footer-map">
			</div>
			<div class="col-xs-12">

				<p class="text-center h7 footer-nav">
				</p>

			</div>
			<div class="col-xs-12 ">
				<p class="text-center">Copyright © 2016 Guangdong Chuan Cheng Zhu Jiang Co.</p>
			</div>
		</div>
	</footer>



    <script>
        $('.demo-btn').click(function(){
            $(this).hasClass('close') && $(this).removeClass('close') || $(this).addClass('close');
            $('.nav-link').hasClass('none') && $('.nav-link').removeClass('none') || $('.nav-link').addClass('none');
        })

        $('#nav-select').on('change',function(e){
        	console.log(e.target.value);
        	location.hash = '#'+ e.target.value;
        })


		var data = [{
			imgurl: './public/images/dianxian1.jpg',
			name: '聚氯乙烯绝缘聚氯乙烯护套阻燃软电缆',
			type: 'dianxian',
			detail:'ZR-IVB-RVV',
			regular: 'GA306.1-2007',
			phone:'4008-322-002',
			descp: '动力装置、日用电器、仪表及电信设备',
			line: '无氧铜绞合导体',
			weight: '125KG/KM',
			press:'300/500V',
			pei:'聚氯乙烯绝缘、护套阻燃料',
			radius:'3x15+1x1Mm²'
		},{
			imgurl: './public/images/dianxian2.jpg',
			name: '铜芯聚氯乙烯绝缘聚氯乙烯护套阻燃扁型电缆',
			type: 'dianxian',
			detail:'ZR-IVB-BVVB',
			regular: 'GA306.1-2007',
			phone:'4008-322-002',
			descp: '动力装置、日用电器、仪表及电信设备',
			line: '无氧铜导体',
			weight: '65KG/KM',
			press:'300/500V',
			pei:'聚氯乙烯绝缘、护套阻燃料',
			radius:'2x1.5Mm²'
		},{
			imgurl: './public/images/dianxian3.jpg',
			name: '聚氯乙烯绝缘阻燃电线电缆',
			type: 'dianxian',
			detail:'ZR-IVB-BV',
			regular: 'GA306.1-2007',
			phone:'4008-322-002',
			descp: '动力装置、日用电器、仪表及电信设备',
			line: '无氧铜导体',
			weight: '31KG/KM',
			press:'450/750V',
			pei:'聚氯乙烯绝缘阻燃料',
			radius:'2.5Mm²'

		},{
			imgurl: './public/images/dianxian4.jpg',
			name: '聚氯乙烯绝缘阻燃软电缆',
			type: 'dianxian',
			detail:'ZR-IVB-RV',
			regular: 'GA306.1-2007',
			phone:'4008-322-002',
			descp: '动力装置、日用电器、仪表及电信设备',
			line: '无氧铜绞合导体',
			weight: '48KG/KM',
			press:'450/750V',
			pei:'聚氯乙烯绝缘阻燃料',
			radius:'4Mm²'
		},{
			imgurl: './public/images/dianxian5.jpg',
			name: '铜芯聚氯乙烯绝缘阻燃软电缆',
			type: 'dianxian',
			detail:'ZR-IVB-BVR',
			regular: 'GA 306.1-2007',
			phone:'4008-322-002',
			descp: '动力装置、日用电器、仪表及电信设备',
			line: '无氧铜绞合导体',
			weight: '32.5KG/KM',
			press:'450/750V',
			pei:'聚氯乙烯绝缘阻燃料',
			radius:'2.5Mm²'

		},{
			imgurl: './public/images/dianxian7.jpg',
			name: '铜芯聚氯乙烯绝缘聚氯乙烯护套阻燃圆形软电缆',
			type: 'dianxian',
			detail:'ZR-IVB-BVVR',
			regular: 'GB20286-2006',
			phone:'4008-322-002',
			descp: '动力装置、日用电器、仪表及电信设备',
			line: '无氧铜绞合导体',
			weight: '32.5KG/KM',
			press:'450/750V',
			pei:'聚氯乙烯绝缘、护套阻燃料',
			radius:'1.5Mm²'

		},{
			imgurl: './public/images/dianxian8.jpg',
			name: '铜芯聚氯乙烯绝缘聚氯乙烯护套阻燃圆形电缆',
			type: 'dianxian',
			detail:'ZR-IVB-BVV',
			regular: 'GA306.1-2007',
			phone:'4008-322-002',
			descp: '动力装置、日用电器、仪表及电信设备',
			line: '无氧铜导体',
			weight: '47.5KG/KM',
			press:'300/500V',
			pei:'聚氯乙烯绝缘、护套阻燃料',
			radius:'2.5Mm²'

		},{
			imgurl: './public/images/dianxian9.jpg',
			name: '铜芯聚氯乙烯绝缘聚氯乙烯护套阻燃圆形电缆',
			type: 'dianxian',
			detail:'ZR-IVB-BV',
			regular: 'GA306.1 - 2007',
			phone:'4008-322-002',
			descp: '动力装置、日用电器、仪表及电信设备',
			line: '无氧铜导体',
			weight: '20KG/KM',
			press:'450/750V',
			pei:'聚氯乙烯绝缘阻燃料',
			radius:'2.5Mm²'
		},{
			imgurl: './public/images/dianxian10.jpg',
			name: '一般用途单芯硬导体无护套耐火电缆',
			type: 'dianxian',
			detail:'NH-IVB-BV',
			regular: 'GA306.2 - 2007',
			phone:'4008-322-002',
			descp: '动力装置、日用电器、仪表及电信设备',
			line: '无氧铜导体',
			weight: '35KG/KM',
			press:'450/750V',
			pei:'云母带、聚氯乙烯绝缘阻燃料',
			radius:'2.5Mm²'

		},{
			imgurl: './public/images/dianxian11.jpg',
			name: '铜芯无卤低烟阻燃聚烯烃绝缘电缆',
			type: 'dianxian',
			detail:'WDZ-BYJ',
			regular: 'GB/119666-2005 JB/TI0491.2-2004',
			phone:'4008-322-002',
			descp: '动力装置、日用电器、仪表及电信设备,核电，地铁等',
			line: '无氧铜导体',
			weight: '31KG/KM',
			press:'450/750V',
			pei:'无卤低烟阻燃料',
			radius:'2.5Mm²'

		},{
			imgurl: './public/images/zhongya.jpg',
			name: '交联聚乙烯绝缘双非磁性金属带铠装聚氯乙烯阻燃C级护套电力电缆',
			type: 'gaoya',
			detail:'ZC-YJV62 26/35kV 1x400',
			regular: 'GB/T12706.2-2008',
			descp: '本产品适用于固定敷设在固定电压35kV及以下电力输配电系统中，供输配电能只用。广泛使用与电力、建筑、工矿、冶金、石油化工、交通等部门。',
			chart: '1.电缆导体的最高允许工作温度90 °C \n 2.短路时(最长持续时间不超过5S)电缆导体的最高温度不超过250°C \n 3.聚氯乙烯护套电缆敷设电缆是环境温度不应低于0°C，聚乙烯护套电缆敷设时环境温度应不低于-10°C \n 4.电缆弯曲半径：三芯电缆不小于电缆外劲15倍；单芯电缆不小于电缆外径20倍'
		},{
			imgurl: './public/images/zhongya2.jpg',
			name: '铜芯交联聚乙烯绝缘钢带铠装聚氯乙烯护套电力电缆',
			type: 'gaoya',
			detail:'YJV22 26/35kV 3x95',
			regular: 'GB/T12706-2008',
			descp: '适用于中压电力输电配电，交联聚乙烯电力电缆具有优良的电性能，良好的耐热性能。且具有重量轻、结构简单、适用方便、耐化学腐蚀和敷设不受落差限制等优点。适宜敷设在室内、室外、电缆沟、架桥等，但不能承受机械外力。',
			chart: '1.电缆导体的最高允许工作温度90 °C \n 2.短路时(最长持续时间不超过5S)电缆导体的最高温度不超过250°C \n 3.敷设时环境温度:空气中10°C,土壤中5°C'

		},{
			imgurl: './public/images/zhongya3.jpg',
			name: '铜芯交联聚乙烯绝缘钢带铠装聚氯乙烯护套电力电缆',
			type: 'gaoya',
			detail:'YJV22 8.7/15kV 3x150',
			regular: 'GB/T12706-2008',
			descp: '适用于中压电力输电配电，交联聚乙烯电力电缆具有优良的电性能，良好的耐热性能。且具有重量轻、结构简单、适用方便、耐化学腐蚀和敷设不受落差限制等优点。适宜敷设在室内、室外、电缆沟、架桥等，但不能承受机械外力。',
			chart: '1.电缆导体的最高允许工作温度90 °C \n 2.短路时(最长持续时间不超过5S)电缆导体的最高温度不超过250°C \n 3.敷设时环境温度:空气中10°C,土壤中5°C'

		},{
			imgurl: './public/images/zhongya4.jpg',
			name: '铜芯交联聚乙烯绝缘钢带铠装聚氯乙烯护套电力电缆',
			type: 'gaoya',
			detail:'YJV22 6/10kV 3x150',
			regular: 'GB/T12706-2008',
			descp: '适用于中压电力输电配电，交联聚乙烯电力电缆具有优良的电性能，良好的耐热性能。且具有重量轻、结构简单、适用方便、耐化学腐蚀和敷设不受落差限制等优点。适宜敷设在室内、室外、电缆沟、架桥等，但不能承受机械外力。',
			chart: '1.电缆导体的最高允许工作温度90 °C \n 2.短路时(最长持续时间不超过5S)电缆导体的最高温度不超过250°C \n 3.敷设时环境温度:空气中10°C,土壤中5°C'

		},{
			imgurl: './public/images/zhongya5.jpg',
			name: '铜芯交联聚乙烯绝缘皱纹铝套聚氯乙烯外护套电力电缆',
			type: 'gaoya',
			detail:'YJLW02 64/110kV 1x800',
			regular: 'GB/T11017-2002',
			descp: '适用于输配电路作配送电能用，适用敷设在室内、隧道、电缆沟内或直接埋在地下，能够承受一定的机械外力和一定的拉力。',
			chart: '1.电缆导体的最高允许工作温度90 °C \n 2.短路时(最长持续时间不超过5S)电缆导体的最高温度不超过250°C \n 3.电缆敷设时环境温度不应低于0°C \n 4.电缆敷设时电缆的最小弯曲半径：不小于电缆外劲25倍。'

		},{
			imgurl: './public/images/zhongya6.jpg',
			name: '铜芯交联聚乙烯绝缘皱纹铝套聚氯乙烯外护套电力电缆',
			type: 'gaoya',
			detail:'YJLW02 64/110KV 1x630',
			regular: 'GG/T11017-2002',
			descp: '适用于输配电路作配送电能用，适用敷设在室内、隧道、电缆沟内或直接埋在地下，能够承受一定的机械外力和一定的拉力。',
			chart: '1.电缆导体的最高允许工作温度90 °C \n 2.短路时(最长持续时间不超过5S)电缆导体的最高温度不超过250°C \n 3.电缆敷设时环境温度不应低于0°C \n 4.电缆敷设时电缆的最小弯曲半径：不小于电缆外劲25倍。'
		},{
			imgurl: './public/images/zhongya7.jpg',
			name: '铜芯无卤低烟B级阻燃交联聚乙烯绝缘电力电缆',
			type: 'gaoya',
			detail:'WDZB-YJY 8.7/15KV 1x240',
			regular: 'GG/T12706.2-2008',
			descp: '适用于输配电路作配送电能用，可设在室内、室外、电缆沟、桥架，不能够承受机械外力。',
			chart: '1.电缆导体的最高允许工作温度90 °C \n 2.短路时(最长持续时间不超过5S)电缆导体的最高温度不超过250°C \n 3.电缆敷设时环境温度不应低于0°C '

		},{
			imgurl: './public/images/zhongya8.jpg',
			name: '铜芯交联聚乙烯绝缘钢带铠装聚氯乙烯护套防白蚁电力电缆',
			type: 'gaoya',
			detail:'FY-YJY22 26/35KV 3x120',
			regular: 'GB/T12706',
			descp: '适用于中压电力输电配电，交联聚乙烯电力电缆具有优良的电性能，良好的耐热性。且具有防白蚁、重量轻、结构简单、使用方便、耐化学腐蚀和敷设不受落差限制等优点。',
			chart: '1.电缆导体的最高允许工作温度90 °C \n 2.短路时(最长持续时间不超过5S)电缆导体的最高温度不超过250°C \n 3.电缆敷设时环境温度：空气中10°C，土壤中5°C 。'

		},{
			imgurl: './public/images/diya.jpg',
			name: '铝芯交联聚氯乙烯绝缘钢带铠装聚氯乙烯护套电力电缆',
			type: 'diya',
			detail:'YJLV22 0.6/1KV 3x150+1x70',
			regular: 'GB/T12706',
			descp: '本产品适用于工频额定电压0.6/1KV 及以下配电网或工业装置中固定敷设之用',
			chart: '1.工频额定电压U0/U 为0.6/1KV \n 2.电缆导体的允许长期工作最高温度为90°C \n 3.短路时( 最长持续时间不超过5S )电缆导体的最高温度不超过250°C \n 4.电缆敷设时环境温度应不低于0°C \n 5.电缆弯曲半径不小于电缆外径15倍。'
		},{
			imgurl: './public/images/diya2.jpg',
			name: '铜芯交联聚氯乙烯绝缘聚氯乙烯护套低烟无卤阻燃A类电力电缆',
			type: 'diya',
			detail:'WDZA-YJE 0.6/1KV 4x150+1x70',
			regular: 'GB/T12706-2008',
			descp: '本产品具有低烟、无毒、无腐蚀等特性。适宜敷设在宾馆、车站、地铁、高层建筑、特别是人群密集等场所。',
			chart: '1.工频额定电压U0/U 为0.6/1KV \n 2.电缆导体的最高允许工作温度为90°C \n 3.短路时( 最长持续时间不超过5S )电缆导体的最高温度不超过250°C \n 4.电缆敷设时电缆的最小弯曲半径：单芯电缆无铠装为20倍，有铠装15倍多芯电缆无铠装15倍，有铠装12倍。'

		},{
			imgurl: './public/images/diya3.jpg',
			name: '铜芯交联聚氯乙烯绝缘细钢丝铠装聚氯乙烯护套电力电缆',
			type: 'diya',
			detail:'YJV32 0.6/1kV 3x120+1x70',
			regular: 'GB/T12706-2002',
			descp: '本产品供输配电能之用。敷设在室内、隧道、电缆沟，能够承受一定的机械外力。',
			chart: '1.电缆敷设时环境温度不低于0°C \n 2.电缆导体的允许长期工作最高温度为90°C \n 3.短路时( 最长持续时间不超过5S )电缆导体的最高温度不超过250°C \n 4.电缆弯曲半径不小于电缆外径15倍。'
		},{
			imgurl: './public/images/diya4.jpg',
			name: '铜芯交联聚乙烯绝缘聚氯乙烯护套钢带铠装阻燃C级电力电缆',
			type: 'diya',
			detail:'ZC-YJV22 0.6/1KV 4x120+1x70',
			regular: 'GB/T12706-2008',
			descp: '本产品适用于输配电路作配送电能用，可敷设室内、室外、电缆沟、架桥等，不能承受机械外力。',
			chart: '1.电缆敷设时环境温度不低于0°C \n 2.电缆导体的允许长期工作最高温度为90°C \n 3.短路时( 最长持续时间不超过5S )电缆导体的最高温度不超过250°C \n 4.电缆弯曲半径不小于电缆外径12倍。'
		},{
			imgurl: './public/images/diya5.jpg',
			name: '铜芯交联聚乙烯绝缘聚氯乙烯护套双钢带铠装电力电缆',
			type: 'diya',
			detail:'YJV22 0.6/1KV 3x240+2x120',
			regular: 'GB/T12706-2008',
			descp: '适用于输配电路作配送电能用，可敷设室内、室外、电缆沟、架桥等，不能承受机械外力。',
			chart: '1.电缆敷设时环境温度不低于0°C \n 2.电缆导体的允许长期工作最高温度为90°C \n 3.短路时( 最长持续时间不超过5S )电缆导体的最高温度不超过250°C '
		},{
			imgurl: './public/images/diya6.jpg',
			name: '铜芯交联聚乙烯绝缘聚氯乙烯护套双钢带铠装阻燃电力电缆',
			type: 'diya',
			detail:'ZR-VV22 0.6/1kV 3x120+1x70',
			regular: 'GB/T12706-2008',
			descp: '适用于工频额定电压0.6/1kv及以下输配电路作配送电能用，可敷设室内、室外、电缆沟、架桥等，能承受一定外力。',
			chart: '1.电缆敷设时环境温度不低于0°C \n 2.电缆导体的允许长期工作最高温度为90°C \n 3.短路时( 最长持续时间不超过5S )电缆导体的最高温度不超过250°C '

		},{
			imgurl: './public/images/jue1.jpg',
			name: '铜芯轧纹铜护套无机矿物绝缘电缆',
			type: 'jueyuan',
			detail:'YTTW 0.6/1KV 3x95+1x50',
			regular: 'JG/T313-2014',
			descp: '该电缆是在矿物绝缘电缆存在弊端的基础上改良过的一种新型的防火电缆，它能克服矿物绝缘电缆生产长度有限的弊端，避免安装敷设中出现的中间接头的问题，具有绝缘层不易受潮、安装敷设方便等优点随着该产品的不断推广，他的优良性能越来越受到广大客户的认可，现已广泛应用于基础工业及民用建设中。',
			chart: 'YTTW系列金属护套无机绝缘矿物电力电缆的导体采用多股铜绞线，绝缘采用耐高温合成云母带机械绕包，绝缘层外采用无碱玻璃纤维密实填充，再经过连续滚轧波纹成型。'
		},{
			imgurl: './public/images/jue2.jpg',
			name: '铜芯轧纹铜护套无机矿物绝缘电缆',
			type: 'jueyuan',
			detail:'YTTW 0.6/1KV 1x120',
			regular: 'JG/T313-2014',
			descp: '该电缆是在矿物绝缘电缆存在弊端的基础上改良过的一种新型的防火电缆，它能克服矿物绝缘电缆生产长度有限的弊端，避免安装敷设中出现的中间接头的问题，具有绝缘层不易受潮、安装敷设方便等优点随着该产品的不断推广，他的优良性能越来越受到广大客户的认可，现已广泛应用于基础工业及民用建设中。',
			chart: 'YTTW系列金属护套无机绝缘矿物电力电缆的导体采用多股铜绞线，绝缘采用耐高温合成云母带机械绕包，绝缘层外采用无碱玻璃纤维密实填充，再经过连续滚轧波纹成型。'

		},{
			imgurl: './public/images/jue3.jpg',
			name: '重型铜芯铜护套氧化镁绝缘防火电缆',
			type: 'jueyuan',
			detail:'BTTZ 450/750V 4x10',
			regular: 'GB/T13033.1-2007',
			descp: '广泛应用于核电站、冶金、化工、矿井、制窑等危险、恶劣、高温环境。今年来也较多的应用于高层建筑、机场、码头、地下铁道等场所，用以保障在火灾情况下消防水泵、消防电梯局部照明、应急疏散指示、保安见识防等重要设备不间断运行。',
			chart: '1.防火、防爆、防水性能优越 \n 2.具有无烟、无卤、无毒性能 \n 3.耐高温、耐腐性强 \n 4.耐辐射、防电磁干扰 \n 5.载流量大、过载能力强 \n 6.具有良好的接地性能'
		},{
			imgurl: './public/images/jue4.jpg',
			name: '重型铜芯铜护套氧化镁绝缘防火电缆',
			type: 'jueyuan',
			detail:'BTTZ 450/750V 4x2.5',
			regular: 'GB/T13033.1-2007',
			descp: '广泛应用于核电站、冶金、化工、矿井、制窑等危险、恶劣、高温环境。今年来也较多的应用于高层建筑、机场、码头、地下铁道等场所，用以保障在火灾情况下消防水泵、消防电梯局部照明、应急疏散指示、保安见识防等重要设备不间断运行。',
			chart: '1.防火、防爆、防水性能优越 \n 2.具有无烟、无卤、无毒性能 \n 3.耐高温、耐腐性强 \n 4.耐辐射、防电磁干扰 \n 5.载流量大、过载能力强 \n 6.具有良好的接地性能'

		},{
			imgurl: './public/images/jue5.jpg',
			name: '重型铜芯铜护套氧化镁绝缘防火电缆',
			type: 'jueyuan',
			detail:'BTTZ 450/750V 1x35',
			regular: 'GB/T13033.1-2007',
			descp: '广泛应用于核电站、冶金、化工、矿井、制窑等危险、恶劣、高温环境。今年来也较多的应用于高层建筑、机场、码头、地下铁道等场所，用以保障在火灾情况下消防水泵、消防电梯局部照明、应急疏散指示、保安见识防等重要设备不间断运行。',
			chart: '1.防火、防爆、防水性能优越 \n 2.具有无烟、无卤、无毒性能 \n 3.耐高温、耐腐性强 \n 4.耐辐射、防电磁干扰 \n 5.载流量大、过载能力强 \n 6.具有良好的接地性能'

		},{
			imgurl: './public/images/jue6.jpg',
			name: '重型铜芯铜护套氧化镁绝缘防火电缆',
			type: 'jueyuan',
			detail:'BTTZ 450/750V 1x185',
			regular: 'GB/T13033.1-2007',
			descp: '广泛应用于核电站、冶金、化工、矿井、制窑等危险、恶劣、高温环境。今年来也较多的应用于高层建筑、机场、码头、地下铁道等场所，用以保障在火灾情况下消防水泵、消防电梯局部照明、应急疏散指示、保安见识防等重要设备不间断运行。',
			chart: '1.防火、防爆、防水性能优越 \n 2.具有无烟、无卤、无毒性能 \n 3.耐高温、耐腐性强 \n 4.耐辐射、防电磁干扰 \n 5.载流量大、过载能力强 \n 6.具有良好的接地性能'
		},{
			imgurl: './public/images/lv1.jpg',
			name: '铝芯交联聚乙烯绝缘聚氯乙烯护套电力电线',
			type: 'luhejing',
			detail:'YJLV 8.7/15KV 3x185',
			regular: 'GB12706',
			descp: '固定敷设在空气、室内、电缆沟、隧道或者地下，交联聚乙烯绝缘粗钢丝铠装聚乙烯护套电力电缆固定敷设在要求能承受较大拉力的场所',
			chart: '1.电缆的最高长期工作温度为90°C \n 2.电缆敷设时环境温度应不低于0°C，电缆弯曲半径应不大于电缆外径的20倍 \n 3.在发生短路时，导体的最高温度不大于250°C，持续时间不超过5S \n 4. 敷设温度应不低于0°C'

		},{
			imgurl: './public/images/lv2.jpg',
			name: '低烟无卤铝合金导体交联聚乙烯绝缘铝合金带联锁铠装聚氯乙烯护套电力电缆',
			type: 'luhejing',
			detail:'WDZ-YJHLY62 0.6/1kV 4x95+1x50',
			regular: 'NB/T42051-2015',
			descp: '适用于90°C下干燥或者潮湿场所；可室内、室外安装，可垂直安装，也可托架或沿墙敷设，也可地下直接安装；弯曲半径最小为7倍外径，也可360°弯曲；适用于民用、商业、工业、大型场馆、娱乐场所、矿井、地铁以及各类级别危险地区等场所。',
			chart: '价格：实现同等电气性能的前提下，铝合金电缆比铜芯电缆的综合应用成本大约低于50%以上。导体：抗蠕变、高柔韧、强延展、低反弹、连接稳定绝缘、耐高温、防燃烧、抗老化、强耐用、低碳环保。铠装层：性能优越，特殊自锁形式，坚固强韧。外护套：采用无铅无镉的PVC，可在潮湿场所安装，亦可直接或敷设在水泥中使用。使用：在美、加等发达国家已得到广泛应用。'

		},{
			imgurl: './public/images/lv3.jpg',
			name: '铝合金导体交联聚乙烯绝缘铝合金带连锁裸铠装电力电缆',
			type: 'luhejing',
			detail:'YJHLV6 0.6/1KV 4x150+1x70',
			regular: 'NB/T 42051-2015',
			descp: '电缆的铠装层强度高，比钢带铠装更轻便、更易剥离，安装遍历，可免桥架安装，减少对管道的要求，超强柔韧性，可有效避免导线损伤。适用于90°C下干燥或者潮湿场所；可室内、室外安装，可垂直安装，也可托架或沿墙敷设，也可地下直接安装；弯曲半径最小为7倍外径；适用于民用、商业、工业、大型场馆、娱乐场所、矿井、地铁等场所。',
			chart: '采用紧压型稀土高铁铝合金导体，高柔韧、易弯曲、低反弹、抗蠕变、耐腐蚀、连接稳定；绝缘为交联聚乙烯，耐高温、耐潮湿、防燃烧、抗老化、强耐用；铠装层采用铝合金带连锁式铠装，抗压抗冲击，坚固强韧。'

		},{
			imgurl: './public/images/lv4.jpg',
			name: '铝合金导体交联聚乙烯绝缘铝合金带连锁裸铠装电力电缆',
			type: 'luhejing',
			detail:'YJHLV6 8.7/15kV 3x120',
			regular:'NB/T 42051-2015',
			descp: '电缆的铠装层强度高，比钢带铠装更轻便、更易剥离，安装遍历，可免桥架安装，减少对管道的要求，超强柔韧性，可有效避免导线损伤。适用于90°C下干燥或者潮湿场所；可室内、室外安装，可垂直安装，也可托架或沿墙敷设，也可地下直接安装；弯曲半径最小为7倍外径；适用于民用、商业、工业、大型场馆、娱乐场所、矿井、地铁等场所。',
			chart: '采用紧压型稀土高铁铝合金导体，高柔韧、易弯曲、低反弹、抗蠕变、耐腐蚀、连接稳定；绝缘为交联聚乙烯，耐高温、耐潮湿、防燃烧、抗老化、强耐用；铠装层采用铝合金带连锁式铠装，抗压抗冲击，坚固强韧。'

		},{
			imgurl: './public/images/lv5.jpg',
			name: '铝合金导体交联聚乙烯绝缘铝合金带连锁铠装聚氯乙烯护套电力电缆',
			type: 'luhejing',
			detail:'YJHLV62 0.6/1KV 3x120+1x70',
			regular: 'NB/T42051-2015',
			descp: '适用于90°C下干燥或者潮湿场所；可室内、室外安装，可垂直安装，也可托架或沿墙敷设，也可地下直接安装；弯曲半径最小为7倍外径，也可360°弯曲；适用于民用、商业、工业、大型场馆、娱乐场所、矿井、地铁以及各类级别危险地区等场所。',
			chart: '价格：实现同等电气性能的前提下，铝合金电缆比铜芯电缆的综合应用成本大约低于50%以上。导体：抗蠕变、高柔韧、强延展、低反弹、连接稳定绝缘、耐高温、防燃烧、抗老化、强耐用、低碳环保。铠装层：性能优越，特殊自锁形式，坚固强韧。外护套：采用无铅无镉的PVC，可在潮湿场所安装，亦可直接或敷设在水泥中使用。使用：在美、加等发达国家已得到广泛应用。'
		},{
			imgurl: './public/images/lv6.jpg',
			name: '铝合金导体交联聚乙烯绝缘铝合金带连锁铠装聚氯乙烯护套电力电缆',
			type: 'luhejing',
			detail:'YJHLV62 0.6/1KV 4x150',
			regular: 'NB/T42051-2015',
			descp: '适用于90°C下干燥或者潮湿场所；可室内、室外安装，可垂直安装，也可托架或沿墙敷设，也可地下直接安装；弯曲半径最小为7倍外径，也可360°弯曲；适用于民用、商业、工业、大型场馆、娱乐场所、矿井、地铁以及各类级别危险地区等场所。',
			chart: '价格：实现同等电气性能的前提下，铝合金电缆比铜芯电缆的综合应用成本大约低于50%以上。导体：抗蠕变、高柔韧、强延展、低反弹、连接稳定绝缘、耐高温、防燃烧、抗老化、强耐用、低碳环保。铠装层：性能优越，特殊自锁形式，坚固强韧。外护套：采用无铅无镉的PVC，可在潮湿场所安装，亦可直接或敷设在水泥中使用。使用：在美、加等发达国家已得到广泛应用。'
		}];

		var Home = Vue.extend({
			template: '#productContainer',
			data: function() {
				return {
					productTitle : '产品',
					productProfile: '公司主要生产电线电缆、电气装备用电线电缆、高低压（交联）电力电缆、架空绝缘电缆、控制电缆、裸电线、公路车辆用低压电缆、橡皮电缆、屏蔽电缆、分支电缆、有线电视线、计算机电缆、铝绞线及铜芯铝绞线、接插件电源线、各类阻燃和耐火电线电缆及低烟无卤电线电缆、防水、防鼠防白蚁、耐油、耐高温等科技含量较高的特种电缆，规格品种齐全。公司在全国各地设有100多个销售网点，建立了完整、快捷、服务创优的销售网络。',
					products: data
				}
			}
		});

		var dianxian = Vue.extend({
			template: '#productContainer',
			data: function() {
				return {
					productTitle : '电线产品',
					productProfile: '产品简介',
					products: data
				}
			}
		});
		var diya = Vue.extend({
			template: '#productContainer',
			data: function() {
				return {
					productTitle : '低压电线产品',
					productProfile: '产品简介',
					products: data
				}
			}
		});
		var gaoya = Vue.extend({
			template: '#productContainer',
			data: function() {
				return {
					productTitle : '中高压电线产品',
					productProfile: '产品简介',
					products: data
				}
			}
		});
		var jueyuan = Vue.extend({
			template: '#productContainer',
			data: function() {
				return {
					productTitle : '绝缘产品',
					productProfile: '产品简介',
					products: data
				}
			}
		});
		var jiakong = Vue.extend({
			template: '#productContainer',
			data: function() {
				return {
					productTitle : '架空产品',
					productProfile: '产品简介',
					products: data
				}
			}
		});
		var luhejing = Vue.extend({
			template: '#productContainer',
			data: function() {
				return {
					productTitle : '铝合金产品',
					productProfile: '产品简介',
					products: data
				}
			}
		});
		var kongzhi = Vue.extend({
			template: '#productContainer',
			data: function() {
				return {
					productTitle : '产品',
					productProfile: '产品简介',
					products: data
				}
			}
		});
		var fenzhi = Vue.extend({
			template: '#productContainer',
			data: function() {
				return {
					productTitle : '产品',
					productProfile: '产品简介',
					products: data
				}
			}
		});


		var detail = Vue.extend({
			template: '#detail',
			data: function() {
				return {
					product:data[this.$route.params.index]
				}
			}
		})

		/* 创建路由器  */
		var router = new VueRouter();

		/* 创建路由映射  */
		router.map({
			'/home': {
				component: Home
			},
			'/dianxian' : {
				component: dianxian,
				name : 'dianxian'
			},
			'/gaoya':{
				component: gaoya,
				name : 'gaoya'
			},
			'/diya':{
				component: diya,
				name:'diya'
			},
			'/fenzhi':{
				component: fenzhi,
				name:'fenzhi'
			},
			'/kongzhi':{
				component: kongzhi,
				name:'kongzhi'
			},
			'/jiakong':{
				component: jiakong,
				name:'jiakong'
			},
			'/jueyuan':{
				component: jueyuan,
				name:'jueyuan'
			},
			'/luhejing':{
				component: luhejing,
				name:'luhejing'
			},
			'/:producttype/:index' : {
				component:	detail,
				name:'detail'
			}
		});

		router.redirect({
			'/': '/dianxian'
		})
		/* 启动路由  */
		var App = Vue.extend({})
		router.start(App, '#app')

    </script>
</body>
</html>